*{
    font-family: Geneva, Verdana, sans-serif
}

body{
    padding: 60px;
    background-color: #f4f4f4;
}

input{
    color: gray;
    font-size: 1.2rem;
    width: 100%;
}

.card-grid{
    /*background-color: crimson;*/
    display: flex;
    flex-flow: row wrap;
}

.card {
    background-color: #333;
    border: 2px solid #949494;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.card p {
    color: #c4c4c4;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card img {
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 180px;
}